.body {
    .footer {
        border-top: 2px solid var(--color-2, #FFF);
        &__top {
            background: #21201F;
            .container {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 2fr 2fr;
                padding: 60px 0 50px;
                @media(max-width: 1200px) {
                    grid-template-columns: 3fr 4fr 3fr;
                }
                @media(max-width: 992px) {
                    grid-template-columns: 1fr 3fr 3fr;
                }
                @media(max-width: 768px) {
                    grid-template-columns: 1fr;
                }
                @media (max-width: 480px) {
                    padding: 20px 0 30px;
                }
            }
            
          
        }
        &__mid {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 120px;
            z-index: 1;
            @media(max-width: 992px) {
                width: 80px;
            }
            @media(max-width: 576px) {
                width: 40px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__left {
            width: 150px;
            display: flex;
            align-items: center;
            margin-right: 30px;
            margin-top: 40px;
            @media (max-width: 992px) {
                width: unset;
            }
            @media (max-width: 768px) {
                margin-top: 0;
            }
            &--reks {
                border-radius: 14px;
                border: 1px solid rgba(255, 255, 255, 0.30);
                padding: 14px 24px;
                font-weight: 500;
                cursor: pointer;
                @media (max-width: 992px) {
                    margin-top: 25px;
                }
                @media (max-width: 480px) {
                    width: 100%;
                    margin-bottom: 50px;
                }
                span {
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 19.6px */  
                    @media (max-width: 576px) {
                        font-size: 16px;
                    }                  
                }               
            }
        }
        &__menu {
            @media(max-width: 576px) {
                width: 100%;
                padding-left: 70px;
            }
            li {
                margin-bottom: 30px;
                @media(max-width: 576px) {
                    margin-bottom: 20px;
                }
                a {
                    color: var(--color-3, #FFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        &__title {
            color: var(--color-3, #FFF);
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @media (max-width: 480px) {
                font-size: 20px;
            }
        }
        &__text {
            color: #999;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 20px 0;
            max-width: 430px;
            @media (max-width: 480px) {
                font-size: 14px;
                max-width: unset;
                margin: 15px 0 10px;
            }
        }
        &__input {
            border-radius: 20px;
            background: #302E2C;
            color: var(--color-2, #FFF);
            padding: 10px 20px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 100%;
            margin-bottom: 15px;
            box-sizing: border-box;
            height: 60px;
            &::placeholder {
                color: white;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        &__btn {
            width: 100%;
            height: 60px;
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @media(max-width: 576px) {
                font-size: 16px;
            }
        }
        &__form {
            margin-bottom: 20px;
        }
        &__policy {
            &--text {
                max-width: 430px;
                @media (max-width: 768px) {
                    max-width: unset;                      
                }
                span {
                    color: #999;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                a {
                    color: #F8B540;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: underline;
                }
            }
        }
        &__bot {
            .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    color: #999;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                @media(max-width: 576px) {
                    flex-direction: column;
                    align-items: center;
                } 
            }
            padding: 30px 0;
            background: #171512;
                       
        }
        &__policy {
            color: var(--color-2, #FFF);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media(max-width: 576px) {
                margin: 32px 0;
            }
        }
        &__mid {
            @media(max-width: 992px) {
                padding-right: 40px;
            }
            @media (max-width: 768px) {
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 25px;
            }
        }
    }

    .made {
        display: flex;
        align-items: center;
        span {
            color: #999;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 20px;
        }
    }
    
    .socials {
        max-width: 290px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #171512;
            padding: 5px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 576px) {
                width: 40px;
                height: 40px;
            }
        }
        img {
            width: 40px;
            height: 40px;
            @media(max-width: 576px) {
                width: 25px;
                height: 25px;
            }
        }
        &.light {
            display: none;
        }
        @media(max-width: 768px) {
            width: 100%;
        }
    }

    &.white {
        .footer {
            border-top: 2px #0D0D0D solid;
            &__top {
                background-color: #514942;
            }
            &__text {
                color: #fff;
            }
            &__input {
                background: #F1F1F1;
                color: var(--color-1, #2B2A28);
                &::placeholder {
                    color: var(--color-1, #2B2A28);
                }
            }
            &__policy {
               &--text {
                span {
                    color: #fff;
                }
               }
            }
            &__thanks {
                background-color: #2b2a28;
            }
        }
        .socials {
            &.dark {
                display: none;
            }
            &.light {
                display: flex;
            }
            a {
                background-color: rgba($color: #fff, $alpha: .1);
            }
        }
    }
}