@mixin flex($fd, $al, $jf) {
  display: flex;
  @if($fd == d) {
    flex-direction: row;
  }
  @else {
    flex-direction: $fd;
  }
  @if($al == d) {}
  @else {
    align-items: $al;
  }
  @if($jf == d) {}
  @else {
    justify-content: $jf;
  }
}
@mixin grid($num, $as, $js, $gg) {
  display: grid;
  $b: 1fr;
  @for $i from 1 through $num - 1 {
    $b: $b + ' ' + #{1fr};
  }
  @if($num == 1) {
    grid-template-columns: 1fr;
  }
  @else {
    grid-template-columns: #{$b};
  }
  @if($as == d) {}
  @else {
    align-items: $as;
  }
  @if($js == d) {}
  @else {
    justify-items: $js;
  }
  @if($gg == d) {}
  @else {
    grid-gap: #{$gg};
  }
}
.footer {
  background: #EBEFF2;
  padding-top: 53px;
  &_top {
    @include flex(d, flex-start, space-between);
    padding-bottom: 33px;
    @media (max-width: 576px) {
      @include grid(1, d, flex-start, 20px 0px);
    }
    .left {
      @include flex(column, d, d);
      img {
        height: 78px;
        width: 84px;
      }
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #252525;
        margin-top: 22px;
        max-width: 228px;
        @media (max-width: 576px) {
          display: none;
        }
      }
    }
    .center {
      @include flex(d, flex-start, space-between);
      @media (max-width: 1200px) {
        @include flex(d, d, d);
      }
      @media (max-width: 769px) {
        @include flex(column, d, d);
      }
      @media (max-width: 576px) {
        @include grid(1, d, d, 14px 34px);
      }
      .menu {
        margin-right: 60px;
        margin-top: 43px;
        @media (max-width: 1200px) {
          margin: 0;
          margin-right: 60px;
        }
        @media (max-width: 769px) {
          margin-right: 30px;
        }
        &:nth-child(1) {
          .menu_bottom {
            @media (max-width: 576px) {
              @include grid(2, d, d, 14px 20px);
            }
          }
        }
        &:nth-child(2) {
          @media (max-width: 1200px) {
            margin-top: 12px
          }
          @media (max-width: 769px) {
            margin-top: 20px;
            .menu_bottom {
              display: none;
            }
          }
          @media (max-width: 576px) {
            margin-top: 20px;
            .menu_bottom {
              display: none;
            }
          }
        }
        &:nth-child(3) {
          @media (max-width: 1200px) {
            display: none;
          }
        }
        &_top {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #252525;
          @media (max-width: 1200px) {
            margin-top: 12px;
          }
          @media (max-width: 576px) {
            margin-top: 0px;
          }
        }
        &_bottom {
          @include grid(1, center, d, 18px 0px);
          margin-top: 16px;
          a {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #252525;
            transition: .4s;
            white-space: nowrap;
            @include flex(d, center, d);
            &:nth-child(6) {
              width: 124px;
            }
            img {
              margin-right: 8px;
            }
            &:hover {
              color: #2751A0;
              img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7478%) hue-rotate(254deg) brightness(105%) contrast(101%);
              }
            }
          }
        }
      }
      .menu2 {
        margin-left: 75px;
        &_bottom {
          @include grid(1, center, d, 14px 0px);
        }
      }
    }
    .right {
      .socials {
      
        &_contacts {
          @include grid(1, center, d, 20px 0px);
          margin-top: 43px;
          @media (max-width: 1200px) {
            margin-top: 12px;
          }
          @media (max-width: 576px) {
            margin-top: 0px;
          }
          a {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #252525;
            display: flex;
            align-items: center;
            transition: .4s;
            img {
              margin-right: 5px;
              width: 16px;
              height: 16px;
            }
            &:hover {
              color: #2751A0;
            }
          }
          .line {
            div {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              color: #8E8E8E;
              margin-top: 6px;
            }
          }
        }
        .feedback {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: #2751A0;
          transition: .4s;
          &:hover {
            color: #8E8E8E;
            cursor: pointer;
          }
        }
      }
    }
  }
  &_center {
    @include flex(d, center, flex-end);
    margin-bottom: 57px;
    @media (max-width: 576px) {
      margin-bottom: 30px;
    }
    .socials {
      @media (max-width: 576px) {
        display: block;
        width: 100%;
      }
      @include flex(d, center, flex-end);
      .item {
        margin-right: 20px;
        &:hover {
          span {
            color: #2751A0;
          }
        }
        &:last-child{
          margin-right: 0;
        }
        .icon {
          //background: linear-gradient(0deg, #E8E8E8, #E8E8E8), linear-gradient(0deg, #E8E8E8, #E8E8E8), linear-gradient(0deg, #E8E8E8, #E8E8E8), #E8E8E8;
          height: 36px;
          width: 36px;
          border-radius: 50%;
          margin-right: 6px;
        }
        span {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #252525;
          max-width: 153.73px;
          @media (max-width: 576px) {
            max-width: unset;
          }
        }
      }
    }
  }
  &_bottom {
    background: #252525;
    padding: 20px 0;
    .container {
      @include flex(d, center, space-between);
      @media (max-width: 576px) {
        @include flex(column, flex-start, d);
      }
    }
    .left {
      @include flex(d, center, d);
      @media (max-width: 576px) {
        @include grid(1, d, d, 20px 0px)
      }
      div, a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-right: 34px;
        @media (max-width: 576px) {
          white-space: nowrap;
        }
        &:first-child {
          @media (max-width: 576px) {
            white-space: nowrap;
          }
        }
      }
      a {
        transition: .4s;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .right {
      @include flex(d, center, d);
      @media (max-width: 576px) {
        margin-top: 20px;
      }
      div {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-right: 15px;
      }
    }
  }
}
